*.jpeg
*.pdf
*.docx
*.txt
*.html
*.log
*.lst
.Rproj.user/
*.DS_Store
*.Rhistory
.Rprofile
# *.csv
*sean_working
*input_backup
*.Rdata

# Exception: include CSV files in data/linking_files/
!data/linking_files/
!data/linking_files/*.csv
